{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title id='Description'>Dashboard</title>
    <link rel="stylesheet" href="{% static '/jqwidgets/styles/jqx.base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static '/jqwidgets/styles/jqx.dark.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static '/jqwidgets/scripts/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxcore.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxbuttons.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxlistmenu.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxpanel.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxdata.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxscrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxlistbox.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxdropdownlist.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxmenu.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.js' %}?27"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxlistmenu.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.pager.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.selection.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.columnsreorder.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxpanel.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxtouch.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.columnsresize.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.grouping.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.filter.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.sort.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.edit.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxgrid.aggregates.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxlayout.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxribbon.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxtree.js' %}"></script>
    {#  <script type="text/javascript" src="{% static '/jqwidgets/jqxdatatable.js' %}"></script>#}
    <script type="text/javascript" src="{% static '/jqwidgets/jqxtreegrid.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxtooltip.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxsplitter.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxdatetimeinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxcheckbox.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxtabs.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxform.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxwindow.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxcombobox.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxnotification.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxdropdownbutton.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/jqxnumberinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/globalization/globalize.js' %}"></script>
    <script type="text/javascript" src="{% static '/jqwidgets/sampledata/generatedata.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href='{% static 'style.css' %}?28'>


</head>
{% block content %}
{% endblock %}
{#<div class="se-pre-con"></div>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"#}
{#        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"#}
{#        crossorigin="anonymous"></script>#}
{#<!-- Bootstrap JS -->#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"#}
{#        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"#}
{#        crossorigin="anonymous"></script>#}
{#<!-- jQuery Custom Scroller CDN -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>#}

<script type="text/javascript">
    var theme =  'dark';
</script>
</html>